<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:amq="http://activemq.apache.org/schema/core"
	xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context   
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jms
		http://www.springframework.org/schema/jms/spring-jms.xsd">
	
    <!-- 真正可以产生Connection的ConnectionFactory，由对应的 JMS服务厂商提供-->  
	<bean id="targetConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">  
	    <property name="brokerURL" value="tcp://192.168.25.128:61616"/>
	</bean>
	   
    <!-- Spring用于管理真正的ConnectionFactory的ConnectionFactory -->  
	<bean id="connectionFactory" class="org.springframework.jms.connection.SingleConnectionFactory">  
	<!-- 目标ConnectionFactory对应真实的可以产生JMS Connection的ConnectionFactory -->  
	    <property name="targetConnectionFactory" ref="targetConnectionFactory"/>  
	</bean>


	<!--这个是商品上架同步生成静态页面 -->
	<bean id="addItemPageDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="add_item_page"/>
	</bean>

	<!-- 我的监听类 -->
	<bean id="addItemPageMessageListener" class="com.pingyougou.page.listener.AddItemPageMessageListener"></bean>
	<!-- 消息监听容器 -->
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<!--监听的activeMQ消息队列连接地址-->
		<property name="connectionFactory" ref="connectionFactory" />
		<!--要监听的消息-->
		<property name="destination" ref="addItemPageDestination" />
		<!--指定监听类完成监听操作-->
		<property name="messageListener" ref="addItemPageMessageListener" />
	</bean>

	<!--这个是商品下架同步删除静态页面 -->
	<bean id="deleItemPageDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="dele_item_page"/>
	</bean>

	<!-- 我的监听类 -->
	<bean id="deleItemPageMessageListener" class="com.pingyougou.page.listener.DeleItemPageMessageListener"></bean>
	<!-- 消息监听容器 -->
	<bean class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<!--监听的activeMQ消息队列连接地址-->
		<property name="connectionFactory" ref="connectionFactory" />
		<!--要监听的消息-->
		<property name="destination" ref="deleItemPageDestination" />
		<!--指定监听类完成监听操作-->
		<property name="messageListener" ref="deleItemPageMessageListener" />
	</bean>

</beans>