<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
		xmlns="http://www.springframework.org/schema/security"
		xmlns:beans="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security
						http://www.springframework.org/schema/security/spring-security.xsd
						http://code.alibabatech.com/schema/dubbo
						http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	<!-- 以下页面不被拦截 -->
	<http pattern="/register.html" security="none"></http>
	<http pattern="/shoplogin.html" security="none"></http>
	<http pattern="/seller/add.do" security="none"></http>
	<http pattern="/css/**" security="none"></http>
	<http pattern="/img/**" security="none"></http>
	<http pattern="/js/**" security="none"></http>
	<http pattern="/plugins/**" security="none"></http>
	
	<!-- 资源拦截规则 -->
	<http use-expressions="false">
		<intercept-url pattern="/**" access="ROLE_SELLER" />
		<form-login 
		     login-page="/shoplogin.html"
		     default-target-url="/admin/index.html"
			 authentication-failure-url="/shoplogin.html"
			 login-processing-url="/login"
			 always-use-default-target="true" />
		<!--跨域请求伪造-->
		<csrf disabled="true" />
		
		<!-- iframe策略 -->
		<headers>
			<frame-options policy="SAMEORIGIN" />
		</headers>

		<!--退出登录-->
		<logout logout-url="/logout"></logout>

	</http>
	
	<!-- 认证管理器 -->
	<authentication-manager>
		<authentication-provider user-service-ref="userDetailService">
			<password-encoder ref="passwordEncoder"></password-encoder>
		</authentication-provider>
	</authentication-manager>

	<!--配置认证服务类加载安全数据 用户 角色 权限-->
	<beans:bean id="userDetailService" class="com.pingyougou.user.service.UserDetailServiceImpl">
		<beans:property name="sellerService" ref="sellerService"></beans:property>
	</beans:bean>
	<!-- 引用dubbo 服务 -->
	<dubbo:application name="pingyougou_shop_web" />
	<dubbo:registry address="zookeeper://192.168.25.128:2181"/>
	<dubbo:reference id="sellerService" interface="com.pingyougou.sellergoods.SellerService" />

	<!--对登录的明文密码加密-->
	<beans:bean id="passwordEncoder" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"></beans:bean>

</beans:beans>